@import "../../../style/index.scss";
// 表单基础样式
.form-wrapper {
    // 表单title样式
    .form-title-wrapper ~ .form-title-wrapper {
        margin-top: 20px;
    }
    .el-form{
        width: 100%;
    }
    .el-input-number--mini{
        width: 100%;
    }
    .form-title-wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .divider--horizontal{
        display: block;
        height: 1px;
        border-bottom: 1px dashed #dcdfe6;
        margin-bottom:10px;
        // margin-top:10px;
        width: 100%;
    }
    .form-material-inline{
        position: relative;
    }
    .text-after{
        position: absolute;
    }
    
    .form-item.has-label-placeholder .el-form-item__label {
        width: 0 !important;
        padding: 0;
        border-left: 1px solid $--border-color-base;
    }
    .el-form--label-right{
        .el-form-item__label {
            justify-content: flex-end;
        }
    }
    .el-form--label-left{
        .el-form-item__label {
            justify-content: flex-start;
        }
    }
    .form-read-text-str{
        color: #666;
        font-weight: normal;
    }
    .el-form--label-center{
        .el-form-item__label {
            justify-content: center;
        }
    }
    // label样式
    .el-form-item__label {
        display: flex;
        padding: 0 8px 0 0 ;
        color:#000;
        font-weight: normal;
        // align-items: center;

        .label-text-placeholder {
            display: inline-block;
            line-height: 18px;
        }
        .form-item-required{
            color: $--color-danger;
        }
        .label-item {
            display: none;
        }
        &::before {
            display: none;
        }
    }
    .form-item-noMargin{
        margin-bottom: 0 !important;
    }
    .form-item-noMarginRight{
        margin-right: 0 !important;
    }
    // 表单元组件主体样式
    .el-form-item__content {
        flex: 1;
    }
    .form-item-content {
        display: flex;
        width: 100%;
    }
    .form-item-block {
        display: block;

        .text-before,
        .text-after {
            display: block;
            line-height: 30px;
        }
    }
    // 表单元组件宽度
    .el-input,
    .el-select,
    .el-autocomplete,
    .el-date-editor,
    .el-cascader {
        flex: 1;
        width: 100%;
    }
    .el-checkbox {
        vertical-align: top;

        // 解决复选框文案过长不换行问题
        & .el-checkbox__label {
            white-space: normal;
            vertical-align: middle;
        }
    }
    .el-form-item__error {
        position: static;
        padding: 0;
    }
    // 只读内容容器
    .form-read_text {
        display: flex;
        flex: 1;
        padding: 6px 0;
        min-height: 18px;
        line-height: 18px;
        word-break: break-all;
        word-wrap: break-word;
        align-items: center;
    }
    .text-before,
    .text-after {
        // padding: 0 5px;
    }
    .form-footer {
        margin-top: 15px;
        text-align: center;
    }
    .el-input-number .el-input__inner{
        text-align: left;
    }
}
// 流式布局
.form-flow{
    &.form-border{
        border-bottom: 1px solid $--border-color-base;
        .form-material-inline {
            border-top: 1px solid $--border-color-base;
            .form-item{
                margin-bottom: 0;
                border-left: 1px solid $--border-color-base;
            }
            .form-item-content{
                padding: 0 10px;
                border-left: 1px solid $--border-color-base;
                border-right: 1px solid $--border-color-base;
            }
            & > .el-row {
                border: 1px solid $--border-color-base;
                border-top: 0;
            }
            .areaField-select,.areaField-input {
                .el-input__inner,
                    .el-textarea__inner {
                        border: 0;
                        padding: 0;
                    }
            }
            .el-date-editor{
                .el-input__inner,
                .el-textarea__inner {
                    padding: 0 30px;
                }
            }
            .el-input__inner,
            .el-textarea__inner {
                border: 0;
            }
            .el-form-item__content {
                .el-input__prefix {
                    // left: 0px;
                }
            }
        }
        .el-input-number{
            border:1px solid $--border-color-base;
        }
    }
    .form-material:last-child{
        .el-form-item{
            margin-bottom: 0;
        }
    }
}
// 格子布局
 .form-grid {
    &.form-item-noMargin .form-body-wrapper{
        margin-bottom: 0 !important;
    }
    &.form-item-noMarginRight .form-body-wrapper{
        margin-right: 0 !important;
    }
    .el-form-item{
        display: flex !important;
    }
     // 表单元组件样式
     .form-item {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    
    &.form-border{
        .form-body-wrapper {
            border-top: 1px solid $--border-color-base;
            & > .el-row {
                border: 1px solid $--border-color-base;
                border-top: 0;
            }
            .el-form-item__label {
                border-left: 1px solid $--border-color-base;
                border-right: 1px solid $--border-color-base;
            }
            .el-input__inner,
            .el-textarea__inner {
                border: 0;
                padding: 0;
            }
            .el-input-number{
                border:1px solid $--border-color-base;
            }
            .el-form-item__content {
                .el-input__prefix {
                    left: 0px;
                }
            }
        }
    }
    .form-body-wrapper {
        border-top: none;
        // margin-bottom: 20px;
        & > .el-row {
            display: flex;
            width: 100%;
            border: none;
            border-top: 0;
            border-collapse: collapse;

            & > .el-col {
                float: none;
                position: relative;
                vertical-align: middle;

                &:first-child .el-form-item__label {
                    border-left: 0;
                }
            }
        }
        .el-form-item__label {
            border-left: none;
            border-right: none;
            background-color: $-formlabel-background-color-base;

        }
        .is-required .label-text-placeholder {
            &::before {
                content: '*';
                color: $--color-danger;
            }
        }
        .el-input__inner,
        .el-textarea__inner {
            border: 1px solid $--border-color-base;
            // padding: 0 10px;
        }
    }
 
    .el-input-number .el-input__inner {
        border: 1px solid $--border-color-base;
    }
    .el-form-item__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .el-input__prefix {
            // left: 5px;
        }
        .el-input__icon {
            width: 14px;
        }
        .el-date-editor{
            .el-input__prefix {
                left: 10px;
            }
            .el-input__inner {
                padding-left: 35px;
            }
        }
        .el-range-editor{
            .el-range-input{
                line-height: 28px; 
            }
        }
        .el-range-editor--mini {
            .el-range-separator{
                line-height: 26px;
            }
            .el-range__icon {
                line-height: 26px;
                margin-left: 0;
            }
        }
    }
    .el-row {
        &::before,
        &::after {
            display: none;
        }
    }
    .tag-item {
        display: inline-block;
        &.tag-block {
            display: block;
            margin: 5px 0 10px;
            line-height: 1;
        }
    }
}
.form-inlineBlock{
    .form-material{
        display: inline-block;
        width: 100%;
        margin-right:14px;
        &:last-child{
            margin-right: 0;
        }
    }
    .form-material-inline{
        width: 100%;
        .el-form-item__label{
            float: left;
            font-size: 14px;
            color: #606266;
            box-sizing: border-box;
        
        }
    }
}
// 流式表单布局
.form-flow.el-form {
    .form-item {
        margin-bottom: 20px;
    }
    .form-item-content {
        display: block;
        width: 100%;
    }
    // 表单元组件宽度
    .el-input,
    .el-select,
    .el-autocomplete,
    .el-date-editor,
    .el-cascader {
        margin: 0;
    }
}
