// 边距
.marginTop20{
    margin-top: 20px;
}
// flex
.isFlex{
    display: flex;
}
.justifyContentSpaceBetween{
    justify-content: space-between;
}
// 搜索框
.searchBox{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    .searchBtn{
        margin-left: 20px;
    }
}