#app {
    .el-menu{
      .submenu-title-noDropdown,
        .el-submenu__title {
          background-color: $menuBg !important;
          font-weight: 600;
          &:hover {
            position: relative;
            background-color: $menuHover !important;
            color:$menuActiveText !important;
            &:before{
              content: '';
              position: absolute;
              top:0;
              left:0;
              width: 4px;
              border-radius: 0 3px 3px 0;
              height:100%;
              background-color: #fff;
            }
          }
          i{
            color:inherit;
          }
        }
        li.el-menu-item.is-active{
        position: relative;
          background-color: $menuHover !important;
          color:$menuActiveText !important;
          font-weight: 700;
          &:before{
            content: '';
            position: absolute;
            top:0;
            left:0;
            width: 4px;
            border-radius: 0 3px 3px 0;
            height:100%;
            background-color: #fff;
          }
        }
    }
}

